<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IG Profile Picture HD</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='htmx.min.js') }}" defer></script>
  </head>
  <body>
    <main class="container">
        <h1>IG Profile Picture HD</h1>
          {% block content %}
          {% endblock %}
    </main>
  </body>
</html>
