<!--
    extends:: is for template inheritance, where you define a base template (index.html) and extend it in other templates;
    <extends 'index.html'>
    <block content>
    <endblock>

    include:: simply import *; or as in C/AHK;
    *note: comments for jinja is different from html;
 -->
{% extends 'index.html' %}
{% block content %}
{% include 'image.html' %}

<!-- search bar with Go button -->
<div class="search-body">
    <form>
        <input id="search" name="search" type="text" placeholder="username" required>
        <button
        onclick="document.getElementById('imageframe').innerHTML='Your request is in progress. Please wait a moment.';" 
        id="get-btn"
        hx-post="/search"
        hx-target="#imageframe">Get</button>
    </form>
</div>
{% endblock %}
